# Ch 18 : 데이터프레임의 내용 살펴보기

### Pandas 활용하기

- 최소 두개의 csv파일을 폴더에 넣어줍니다
- 랜덤으로 csv파일을 하나 읽어온 후 pandas DataFrame으로 불러와 봅시다
- 추가 과제
    - 현재 디렉토리에서 csv 리스트만 읽어서 출력해봅니다
    - MutableSequence 자료형을 print함수를 이용해서 출력합니다. 단, 한줄로 출력해야하며, 개행문자 (\n)으로 구분해 주어야합니다.

In [1]:
import pandas as pd
import os, random

In [2]:
# 현재 디렉토리에서 csv리스트만 읽어서 출력한다
csv_list = list(filter(lambda x:x.endswith('.csv'),os.listdir()))

In [3]:
print(*csv_list,sep='\n')

주택매매가격지수.csv
금융계정.csv

### Random으로 csv파일 선택하기

- Random으로 하나의 csv를 뽑을때 random.randint(x,y)를 사용해 봅시다
- randint(x,y)는  x<= ? <= y 범위에서 정수를 뽑습니다

In [4]:
random_csv_name = csv_list[random.randint(0,len(csv_list)-1)]

#랜덤으로 뽑은 csv파일을 읽어 DataFrame으로 변환해 봅니다
df = pd.read_csv(random_csv_name)

In [5]:
# csv이름과 데이터 프레임을 출력해봅니다
print(random_csv_name)
df

주택매매가격지수.csv

         시점     지표  전기대비증감률
0   2014.00   84.8      1.8
1   2015.00   87.7      3.4
2   2016.00   88.4      0.8
3   2017.00   89.7      1.5
4   2018.00   90.6      1.0
5   2019.00   90.3     -0.3
6   2020.00   95.2      5.4
7   2020.11   94.3      0.5
8   2020.12   95.2      1.0
9   2021.10   95.9      0.7
10  2021.20   96.8      0.9
11  2021.30   97.5      0.7
12  2021.40   98.2      0.7
13  2021.50   98.9      0.7
14  2021.60  100.0      1.1
15  2021.70  100.9      0.9
16  2021.80  101.8      0.9
17  2021.90  102.8      1.0
18  2021.10  103.7      0.9
19  2021.11  104.3      0.6

### 데이터 프레임의 내용을 간단하게 peeking할 수 있는 함수를 알아봅니다

- head(x) : 데이터프레임에서 첫 x개의 행만큼 읽어서 출력합니다. x를 지정하지 않는경우, 5개의 행을 읽어옵니다(기본값)

- tail(x) : 데이터프레임에서 마지막 x개의 행만큼 읽어서 출력합니다. x를 지정하지 않는경우, 5개의 행을 읽어옵니다(기본값)

In [6]:
df.head()

       시점    지표  전기대비증감률
0  2014.0  84.8      1.8
1  2015.0  87.7      3.4
2  2016.0  88.4      0.8
3  2017.0  89.7      1.5
4  2018.0  90.6      1.0

In [7]:
df.head(2)

       시점    지표  전기대비증감률
0  2014.0  84.8      1.8
1  2015.0  87.7      3.4

In [8]:
df.tail()

         시점     지표  전기대비증감률
15  2021.70  100.9      0.9
16  2021.80  101.8      0.9
17  2021.90  102.8      1.0
18  2021.10  103.7      0.9
19  2021.11  104.3      0.6

In [9]:
df.tail(7)

         시점     지표  전기대비증감률
13  2021.50   98.9      0.7
14  2021.60  100.0      1.1
15  2021.70  100.9      0.9
16  2021.80  101.8      0.9
17  2021.90  102.8      1.0
18  2021.10  103.7      0.9
19  2021.11  104.3      0.6